# Ignore generated feeds and plots
# as they do not get stored in the repo
# and clutter the local build 
_data/*.yml
_data/*.json
_data/*.csv
plot_*.*
images/

_site
.sass-cache
.jekyll-metadata
api_key.sh
/Gemfile.lock
.Rhistory
.RData
