name: build and deploy data feeds

on:
  push:
    branches: main
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build-feeds:
    if: github.repository_owner == 'carpentries'
    runs-on: ubuntu-20.04
    env:
      RSPM: "https://packagemanager.rstudio.com/all/__linux__/focal/latest"
      REDASH_KEY_QUERY33: ${{ secrets.REDASH_KEY_QUERY33 }}
      REDASH_KEY_QUERY39: ${{ secrets.REDASH_KEY_QUERY39 }}
      REDASH_KEY_QUERY184: ${{ secrets.REDASH_KEY_QUERY184 }}
      REDASH_KEY_QUERY157: ${{ secrets.REDASH_KEY_QUERY157 }}
      REDASH_KEY_QUERY187: ${{ secrets.REDASH_KEY_QUERY187 }}
      AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
      REDASH_API_INSTRUCTORS_KEY: ${{ secrets.REDASH_API_INSTRUCTORS_KEY }}
      MAILCHIMP_NEWSLETTER_KEY: $ {{ secrets.MAILCHIMP_NEWSLETTER_KEY }}

    defaults:
      run:
        shell: bash

    steps:
      - name: checkout the Repository
        uses: actions/checkout@v2


      ### Install R ------------------------------------------------------------

      - name: Set up R
        uses: r-lib/actions/setup-r@master
        with:
          r-version: 'release'

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v1

      - name: Query dependencies
        run: |
          install.packages(c('remotes', 'sessioninfo'))
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ hashFiles('.github/R-version') }}-1-

      - name: Install system dependencies
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "20.04"))')

      - name: Install dependencies
        run: |
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}

      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}


      ### Install Ruby ---------------------------------------------------------

      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - name: Install Bundler
        run: >-
          gem install bundler

      - name: Set up caching for Bundler
        uses: actions/cache@v2
        with:
          path: .vendor/bundle
          key: gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            gems-

      - name: Install & Update Ruby Gems
        run: |
          bundle config path .vendor/bundle
          bundle install --jobs 4 --retry 3
          bundle update


      ### Install Python -------------------------------------------------------

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python modules
        run: |
          python3 -m pip install --upgrade pip setuptools wheel
          python3 -m pip install --user numpy scipy matplotlib ipython jupyter pandas plotly

      ### Finally --------------------------------------------------------------
      - name: Make everything
        run: make everything
